body{
  background-color: black;
}

.bubble-overflow{
  width: 600px;
}

svg{
  display: inline-block;
}

.overflow{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(5deg, rgba(218,227,229,1) 0%, rgba(215,224,227,1) 45%, rgba(112,140,172,1) 100%);
  position: absolute;
  overflow: hidden;
  left: 40%;
  top: 25%;
}


.dark-wave{
animation: left 10s linear infinite;
transform: translateX(-950px);
}

.light-wave{
  animation: right 10s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;

}

.highlight{
  opacity: 0.8;
  animation: glow 5s linear infinite;
}

@keyframes left {
  0% {transform: translateX(0px) translateY(10px);}
  50%{transform: translateX(-950px) translateY(10px);}
  100% {transform: translateX(0px) translateY(10px);}
}

@keyframes right {
    0% {transform: translateX(-950px);}
    50%{transform: translateX(0px);}
    100% {transform: translateX(-950px);}
}

@keyframes glow {
  0% {opacity: 0.8;}
  50%{opacity: 0.2;}
  100% {opacity: 0.8;}
}
